@use '~@angular/material' as mat;

.row {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
table {
    width: 100%;
}
mat-tree-node, mat-nested-tree-node {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 30px;
}
.mat-tree-node {
    width: 100%;
    > button {
        margin-left: -40px;
    }
}

.cell {
    flex: 1;
}
.title-cell {
    min-width: 250px;
}
.mat-header-cell {
    text-align: center;
}
.mat-cell {
    .number {
        text-align: center;
        &.number-warn {
            color: #a86d00;
        }
        &.number-error {
            color: #a60000;
        }
        &.number-search {
            color: #888;
        }
    }
    a {
        cursor: pointer;
        color: mat.get-color-from-palette(mat.$blue-palette);
        &:hover {
            text-decoration: underline;
        }
    }
}
tr:nth-child(odd) {background: #fff}
tr:nth-child(even) {background: #eee}
tr.mat-header-row {
    background-color: #eee;
}

@for $i from 1 through 3 {
    .mat-cell-level-#{$i} {
        padding-left: ($i) * 20px!important;
    }
}
.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}
.mat-header-cell {
    padding: 0 15px;
}
