@use '~@angular/material' as mat;

.row {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
table {
    width: 100%;
}
mat-tree-node, mat-nested-tree-node {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 30px;
}
.mat-tree-node {
    width: 100%;
    > button {
        margin-left: -40px;
    }
}

.cell {
    flex: 1;
}
.title-cell {
    min-width: 250px;
}
.mat-header-cell {
    text-align: center;
}
.mat-cell {
    .number {
        text-align: center;
        &.number-warn {
            color: #a86d00;
        }
        &.number-error {
            color: #a86d00;
            font-weight: bold;
        }
        &.number-search {
            font-weight: normal;
            color: #555;
        }
    }
    a {
        cursor: pointer;
        color: mat.get-color-from-palette(mat.$blue-palette);
        &:hover {
            text-decoration: underline;
        }
    }
}
$colors:
          #b1d6ff,
          #b1f6ff,
          #b1fff6,
          #b1ffd0,
          #d9ffb1,
          #faffb1,
          #ffe4b1,
          #ffbab1;

@for $i from 1 through 8 {
    .mat-header-cell-label:nth-child(#{$i + 1}),
    .mat-header-cell-scope:nth-child(#{$i * 2 + 1}),
    .mat-header-cell-scope:nth-child(#{$i * 2 + 2}),
    td:nth-child(#{$i * 2 + 1}),
    td:nth-child(#{$i * 2 + 2})
    {
        background: nth($colors, $i);
    }
    tr:nth-child(odd) {
        td:nth-child(#{$i * 2 + 1}),
        td:nth-child(#{$i * 2 + 2}) {
            background-color: lighten(nth($colors, $i), 5%);
        }
    }

    .mat-header-cell-label:nth-child(#{$i}),
    .mat-header-cell-label:nth-child(#{$i + 1}),
    .mat-header-cell-scope:nth-child(#{$i*2}),
    td:nth-child(#{$i*2}) {
        border-right: 1px solid #888;
    }
}
:host ::ng-deep {
    thead {
        box-shadow: 0 5px 3px rgba(0,0,0,.15);
        position: relative;
        z-index: 1;
    }
}

@for $i from 1 through 8 {
    .mat-cell-level-#{$i} {
        padding-left: ($i) * 20px!important;
    }
}
.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}
.mat-header-cell {
    padding: 0 15px;
}
