@import 'src/mixins';

.wrapper {
    height: 100%;
    mat-card {
        @include metaCard();
        ::ng-deep mat-card-header {
            align-items: center;

            .mat-card-header-text {
                flex-grow: 1;
                margin: 0;

                mat-card-title {
                    padding-top: 20px;
                    font-size: 120%;
                }
            }
        }
    }
    .scroll {
        display: flex;
        height: 100%;
        justify-content: center;
        .score {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            &.score-poor {

            }
            &.score-good {
                color: var(--dark-green---dark-green);
            }
            &.score-mediocore {
                color: var(--orange---orange);
            }
            &.score-poor {
                color: var(--red---red);
            }

            > p {
                color: var(--font-light);
                font-size: 1.3em;
            }

            > span {
                font-weight: bold;
                font-size: 200%;
                padding: 10px 0;
            }
            > mat-icon {
                width: 60px;
                height: 60px;
                font-size: 60px;
                opacity: .75;
            }
        }
    }
}
