@mixin limitLines($count) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-word;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
}
@mixin metaCard() {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    box-shadow: none;
}
