/* Color styles */
:root {
    --black: #000000;
    --lila: #7F6FEE;
    --red---red: #E73445;
    --red---red_80: #EC5D6A;
    --red---red_60: #F1858F;
    --red---red_40: #F5AEB5;
    --red---red_20: #FAD6DA;
    --red---red_15: #FBE1E3;
    --dark-blue---darkblue: #003B7C;
    --dark-blue---dark-blue_80: #336296;
    --dark-blue---dark-blue_60: #6689B0;
    --dark-blue---dark-blue_40: #99B1CB;
    --dark-blue---dark-blue_20: #CCD8E5;
    --dark-blue---dark-blue_15: #D9E2EB;
    --blue---blue: #3DA6EE;
    --blue---blue_80: #64B8F1;
    --blue---blue-60: #8BCAF5;
    --blue---blue_40: #B1DBF8;
    --blue---blue_20: #D8EDFC;
    --blue---blue_15: #E2F2FC;
    --dark-green---dark-green: #106029;
    --dark-green---dark-green_80: #408054;
    --dark-green---dark-green_60: #70A07F;
    --dark-green---dark-green_40: #9FBFA9;
    --dark-green---dark-green_20: #CFDFD4;
    --dark-green---dark-green_15: #DBE7DF;
    --green---green: #B4DA1C;
    --green---green_80: #C3E149;
    --green---green_60: #D2E977;
    --green---green_40: #E1F0A4;
    --green---green_20: #F0F8D2;
    --green---green_15: #F4F9DD;
    --pink---pink: #EC4A70;
    --pink---pink_80: #F06E8D;
    --pink---pink_60: #F492A9;
    --pink---pink_40: #F7B7C6;
    --pink---pink_20: #FBDBE2;
    --pink---pink_15: #FCE4EA;
    --rose---rose: #EF809A;
    --rose---rose_80: #F299AE;
    --rose---rose_60: #F5B3C2;
    --rose---rose_40: #F9CCD7;
    --rose---rose_20: #FCE6EB;
    --rose---rose_15: #FDECF0;
    --orange---orange: #FFB930;
    --orange---orange_80: #FFC759;
    --orange---orange_60: #FFD583;
    --orange---orange_40: #FFE3AC;
    --orange---orange_20: #FFF1D6;
    --orange---orange_15: #FFF4E0;
    --lila---lila: #7F6FEE;
    --lila---lila_80: #998CF1;
    --lila---lila_60: #B2A9F5;
    --lila---lila_40: #CCC5F8;
    --lila---lila_20: #E5E2FC;
    --lila---lila_15: #ECE9FC;
}
