.wrapper {
    width: 100%;
    mat-card {
        box-shadow: none;
        ::ng-deep mat-card-header {
            align-items: center;
            .mat-card-header-text {
                flex-grow: 1;
                margin: 0;
                mat-card-title {
                    padding: 20px 0 0 10px;
                    font-size: 120%;
                    .count {
                        font-size: 80%;
                        color: #888;
                        padding-left: 7px;
                    }
                }
            }
        }
        display: flex;
        flex-direction: column;
        width: 100%;
        .count-slider {
            display: flex;
            flex-direction: column;
            width: 100%;
            > label {
                padding: 0 20px;
                font-size: 90%;
            }
            > mat-slider {
                width: 100%;
            }
        }
        mat-spinner {
            flex-grow: 1;
            display: flex;
            align-self: center;
            justify-self: center;
            margin-top: 20%;
        }
        width: 100%;
        height: 100%;
        padding: 0;
        .scroll {
            flex-grow: 1;
            overflow-y: auto;
            .all-done {
                display: flex;
                flex-direction: column;
                align-items: center;
                .all-done-emoji {
                    font-size: 72px;
                    margin-bottom: 20px;
                }
                .all-done-text {
                    font-size: 1.3em;
                    color: #666;
                }
            }
        }
        .error {
            border: #d00 solid 2px;
            background-color: #d005;
            display: flex;
            flex-direction: column;
            align-items: center;
            .error-text {
                font-size: 1.3em;
            }
        }
    }
}
